html,
body{
    height: 100%;
    font-size: 1rem;
    font-family: 'Cormorant Garamond', serif;
}

.gradient {
    background: rgb(249,238,223); 
    background: linear-gradient(90deg, rgba(249,238,223,1) 0%, rgba(233,200,149,1) 35%, rgba(158,123,72,1) 100%)
}

.page-header{
    margin-top: 4rem;
    font-size: 1.25rem;
    color:black;

}
.logo {
    height:200px;
    width:200px
}

.feature ul {
    padding-left: 2rem;
    list-style-type: none;
}
.feature ul li{
    padding-left: 2rem;
    background-image: url();
    background-repeat: no-repeat;
    line-height: 1.5rem;
    margin-bottom: 1rem;

}
